:root {
    --black: #171321;
    --pink: #e310cb;
    --hot-pink: #ff17e4;
    --light-brown: #BF895A;
    --plum: #4b0d49;
    --beige: #F2C0A2;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --sans: 'Oxygen', sans-serif;
    --mono: 'Oxygen Mono', monospace;
    --border-gridient: linear-gradient(90deg, rgba(255, 23, 228, 1) 0%, rgba(134, 251, 251, 1) 100%);
}

html {
    box-sizing: border-box;
    font-family: var(--sans);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--black);
    color: var(--white);
    font-size: var(--font-size);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: var(--mono);
}

a {
    color: var(--pink);
}

a:hover {
    color: var(--hot-pink);
    text-decoration: none;
}

#intro {
    padding: 4rem 0rem 10rem 0rem;
}

#intro p {
    font-size: 1rem;
    line-height: 1.5;
}

#intro .name {
    font-family: var(--mono);
}

#intro .name span {
    font-family: var(--sans);
    font-size: 4rem;
    color: var(--aqua);
    display: block;
}

#intro h2 {
    font-size: 4rem;
    font-weight: normal;
}

#contact {
    background-color: var(--plum);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem 0;
}

#contact p {
    max-width: 600px;
    text-align: center;
}

#contact p:last-child {
    margin-top: 2rem;
}

nav {
    font-family: var(--mono);
    font-size: 80%;
    padding: 1.5rem 0;
}

nav h1 a {
    font-family: var(--sans);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav li:first-child {
    flex-basis: 100%;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: var(--white);
    display: block;
}

nav a:hover {
    color: var(--pink);
}

nav [class*="fa-"] {
    font-size: 150%;
}

nav h1 [class*="fa-"] {
    font-size: 100%;
    color: var(--pink);
}

.button {
    background-color: var(--pink);
    padding: 0.5rem;
    border-radius: 5px;
    color: var(--white);
    text-decoration: none;
    font-family: var(--mono);
}

.button:hover {
    background-color: var(--hot-pink);
    color: var(--white);
}

footer {
    text-align: center;
    padding: 4rem 0rem 4rem 0rem;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

footer ul li {
    font-size: 3rem;
}

footer p small {
    font-size: 0.9rem;
}

.gradient-divider {
    height: 0.25rem;
    background: var(--border-gridient);
}

@media(min-width: 850px) {
    nav {
        max-width: 1200px;
        margin: 0 auto;
    }

    nav li:first-child {
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }

    #intro {
        max-width: 1200px;
        margin: 0 auto;
    }
}